#jitter {
  margin: auto;
  border: 2px solid cyan;
  border-radius: 3px;
  cursor: pointer;
}

#jitter:hover {
  border: 2px solid rgb(0, 255, 128);
}


.align-middle {
  vertical-align: middle!important;
}