.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*
.customers tr:nth-child(even){}
.customers tr:nth-child(odd){}
.customers tr:hover {}
*/

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
